body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.15rem;
  margin: 0;
  overflow-x: hidden;
}

/*navbar*/
.navbar-nav {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.bg-light {
  background: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #543552;
}

.navbar-light .navbar-brand {
  padding-left: 11rem;
}

.nav-not-signedin {
  display: flex;
  padding-left: 68%;
}

/*form button*/
.save-btn {
  background-color: black !important;
  color: pink !important;
  width: 100%;
  margin: 1.9rem 0 0.1rem;
}

/*profile*/
.greeting {
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 0;
  background: #41334d;
}

.profile-row {
  background: #41334d;
}

.create {
  color: pink;
  padding: 0.8rem 0 3.2rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.info-col {
  background: #41334d;
  margin: 5.9rem 0 0 2rem;
  border-radius: 6px;
}

.form-col {
  padding: 5.2rem 0;
  color: #fff;
}

.form-header {
  color: blue;
}

.group {
  display: flex;
  align-items: center;
}

.group .list-group-item {
  background: linear-gradient(
    60deg,
    rgb(65, 51, 77) 0%,
    #bfa4bd 50%,
    rgb(65, 51, 77) 100%
  ) !important;
  border-radius: 3px;
  height: 5.3rem;
  display: flex;
  align-items: center;
}

.list-group-item a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
}

/*add video*/
.video-container {
  margin: 1rem 3.8rem;
}
.video-form {
  display: flex;
}

.url-input {
  margin-left: 0.8rem;
}

.add-video-header {
  display: flex;
}

.add-video-btn {
  max-width: 92.5%;
  margin: 0 0 0 0.4rem;
}

.video-title {
  margin-top: 0.7rem;
}

/*search-box*/
.search-input {
  margin: 2.3rem 0;
  max-width: 100%;
}

/*vision header*/
.add-img-box-btn {
  background: #fff;
  color: #000;
  border: 2px solid #000;
  margin-top: 1rem;
  position: absolute;
  left: 1.5rem;
  top: -0.3rem;
}

/*vision board*/
.vision-board-container {
  margin: 0.5rem 1.5rem;
}

.vision-board-instructions {
  padding-top: 1rem;
}

.img-card p {
  color: #543552;
  font-size: 20px;
  margin: 0.2rem 0.7rem;
}

.text-trash {
  display: flex;
  justify-content: space-between;
}

/*footer*/
footer {
  background: #41334d;
  height: 8rem;
}

.copyright {
  margin-top: 4rem;
}
