body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.15rem;
  margin: 0;
}

/*navbar*/
.navbar-nav {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.bg-light {
  background: linear-gradient(
    60deg,
    #ffffff 0%,
    rgb(247, 241, 241) 100%
  ) !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(78, 55, 55) !important;
}

.navbar-light .navbar-brand {
  padding-left: 11rem;
}

.nav-not-signedin {
  display: flex;
  padding-left: 68%;
}

/*form button*/
.save-btn {
  background-color: black !important;
  color: #fff !important;
  width: 100%;
  margin: 1.9rem 0 0.1rem;
}
